h2{
    margin-bottom: 1rem;
}



#main-container {
    background-color: #ffc6c6;
    padding: 10px 0.5em 10px 3em;
    width: 100%;
    overflow-x: hidden;
}

.icon {
    cursor: pointer;
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 50% 50%;       /* Pivot around the bottom-left palm */
    width: 100%;
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(1.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-2.0deg) }
    30% { transform: rotate(1.0deg) }
    40% { transform: rotate(-2.0deg) }
    50% { transform: rotate(2.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}

input {
    width: 100%;
    font-size: 16px;
}
h2 {
    margin: 0.5em 0 0.5em 0;
    border-radius: 50px;       /* Fully rounded pill shape */
    text-align: center;        /* Center text */
    font-family: sans-serif;   /* Clean font */
    color: #000;               /* Black text */
    padding: 8px 20px;        /* Padding around text */
    background-color: white;
    border: 6px dashed #b0b0b0;
    width: 10em;
}
p:not(.explain) {
    margin: 0.5em 0 1em 0;
    border-radius: 50px;       /* Fully rounded pill shape */
    text-align: center;        /* Center text */
    font-family: sans-serif;   /* Clean font */
    color: #000;               /* Black text */
    padding: 8px 20px;        /* Padding around text */
}
p span {
    font-weight: bold;
}
#setup p {
    background-color: #fdd835; /* Bright yellow */
    border: 3px solid #673ab7; /* Purple border */
}
#layer p {
    background-color: #fcd9a4; /* Bright yellow */
    border: 3px solid #f25d5d ; /* Purple border */
}
#shape p {
    background-color: #dcd4ff; /* Bright yellow */
    border: 3px solid #215c28 ; /* Purple border */
}
#line p:not(.explain) {
    background-color: #b2f0c2; /* Bright yellow */
    border: 3px solid #8b0000; /* Purple border */
}
.section {
    padding-bottom: 20px;
}

button {
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 0.5em 0 0;
}
button.selected {
    background: #007bff;
    color: #fff;
}

.buttons {
    display: inline-block;
    margin-bottom: 1em;
}
.vue-range-slider:not(.small) {
    width: 30em !important;
}
.vue-range-slider.small {
    width: 22em !important;
}
.vue-range-slider.slider-component{
    padding: 0 !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* or center */
    width: 100%;            /* Fill the parent width, not viewport */
    box-sizing: border-box;
    margin-bottom: 1em;
}
.flex-row > div {
    padding: 0 1rem 0 0;
    box-sizing: border-box; 
}
