<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Flask Printer GUI</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/vue-range-component@1.0.3/dist/vue-range-slider.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-range-component@1.0.3/dist/vue-range-slider.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
		integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
		crossorigin="anonymous"></script>
</head>

<body>
	<div id="vm">
		<div id="header">
			<h1 @click="connect" class="icon" v-if="connected">&#128077</h1>
			<h1 @click="connect" class="icon" v-else>&#128078</h1>
			<h1 id="port">PORT:</h1>
			<input class="text-input" v-model="port">
			<h1 id="baud">BAUD:</h1>
			<input class="text-input" v-model="baud">
		</div>
		<div id="sidebar">
			<div id="control">
				<h2>Printer Controller</h2>
				<div id="motion">
					<div id="back" @click="move_up">&uarr;</div>
					<div id="forth" @click="move_down">&darr;</div>
					<!--<div id="left" @click="">&larr;</div>
							<div id="right" @click="">&rarr;</div>-->
				</div>
				<div id="buttons">
					<button @click="setup">New</button>
					<button @click="print">[[ printLable ]]</button>
					<button @click="pause">[[ pauseLable ]]</button>
				</div>
				<div id="test">
					<p>We are on Layer:</p>
					<input v-model="layer" placeholder="" disabled>
				</div>
			</div>
			<div id="options">
				<div>
					<div class="options">
						<h2>Options</h2>
						<p>Center of the printer plate:</p>
						<input v-model="plate_center_x">
						<input style="margin: 0.5rem 0 1rem 0;" v-model="plate_center_y">
					</div>
					<div class="slicer">
						<h4>Slicer</h4>
						<p>Extrusion Rate: [[ slicer_options.extrusion_rate ]]</p>
						<!-- <input v-model="slicer_options.extrusion_rate" placeholder=""> -->
						<vue-range-slider :tooltip="null" :min="+0" :max="+1" :step="+0.01" ref="slider"
							v-model="slicer_options.extrusion_rate"></vue-range-slider>
						<p>Feed Rate: [[ slicer_options.feed_rate ]]</p>
						<vue-range-slider :tooltip="null" :min="+0" :max="+2000" step="+1" ref="slider"
							v-model="slicer_options.feed_rate"></vue-range-slider>
						<p>Layer Height: [[ slicer_options.layer_hight ]]</p>
						<vue-range-slider :tooltip="null" :min="+0.5" :max="+2.5" step="+0.25" ref="slider"
							v-model="slicer_options.layer_hight"></vue-range-slider>
					</div>
					<div class="slicer">
						<h4>Layer</h4>
						<p>Number of repetitions per layer: [[ shape_options.repetitions ]]</p>
						<vue-range-slider :tooltip="null" :min="+1" :max="+3" :step="+1" ref="slider"
							v-model="shape_options.repetitions"></vue-range-slider>
						<p>Range to apply line pattern: [[ shape_options.pattern_range ]]</p>
						<vue-range-slider :tooltip="null" :min="+1" :max="+120" :step="+1" ref="slider"
							v-model="shape_options.pattern_range"></vue-range-slider>
						<p>pattern amplitude: [[ shape_options.pattern_amplitude ]]</p>
						<vue-range-slider :tooltip="null" :min="+1" :max="+100" :step="+1" ref="slider"
							v-model="shape_options.pattern_amplitude"></vue-range-slider>
					</div>
					<h4>Shape</h4>
					<div class="shape-flex-row">	
						<div>
							<p>base:</p>
							<div class="center-point-buttons">
    							<button
        							v-for="n in ['circle', 'rectangle']"
        							:key="n"
        							:class="{ selected: shape_options.base_shape === n }"
        							@click="shape_options.base_shape= n"
        							type="button"
    								>[[ n ]]</button>
							</div>
							<p>filling (spacing between fill lines):</p>
							<div class="center-point-buttons">
    							<button
        							v-for="n in [0,10,20,30]"
        							:key="n"
        							:class="{ selected: shape_options.filling === n }"
        							@click="shape_options.filling = n"
        							type="button"
    								>[[ n ]]</button>
							</div>
							<p>number of center points:</p>
							<div class="center-point-buttons">
    							<button
        							v-for="n in 5"
        							:key="n"
        							:class="{ selected: shape_options.num_center_points === n }"
        							@click="shape_options.num_center_points = n"
        							type="button"
    								>[[ n ]]</button>
							</div>
							<p>x-diameter: [[ shape_options.diameter_x ]]</p>
								<vue-range-slider :tooltip="null" :min="+1" :max="+300" :step="+1" ref="slider"
								v-model="shape_options.diameter_x"></vue-range-slider>
							<p>y-diameter: [[ shape_options.diameter_y ]]</p>
								<vue-range-slider :tooltip="null" :min="+1" :max="+300" :step="+1" ref="slider"
								v-model="shape_options.diameter_y"></vue-range-slider>
						</div>
						<div>
							<canvas id="centerPointsCanvas" width="400" height="400" style="border:1px solid #757575; background-color: #eaeaea;"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="{{ url_for('static', filename='js/vue_instance.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/keep_alive.js') }}"></script>

</html>